@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin: 24px 24px;">
    <div class="card col-md-3" style="width: 16rem; background-color: orange; padding: 0px; margin-left: 16px; border-radius: 8px">
        <img src="https://i.pinimg.com/564x/77/64/2f/77642fc9493650c373e350896506b2e2.jpg" style="height: 200px; width: 256px; opacity: 0.95;" class="card-img-top" alt="...">
        <div class="card-body" style="margin: 8px;">
            <p style="margin: 8px" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="margin-bottom: 8px; background-color: #ffffcc; color: #333333;" class="btn" asp-controller="Account" asp-action="Index">Manage Account</a>
        </div>
    </div>

    <div class="card col-md-3" style="width: 16rem; background-color: orange; padding: 0px; margin-left: 16px; border-radius: 8px">
        <img src="https://i.pinimg.com/564x/1f/08/9c/1f089c5d47681a5bb3187f006b1a69d9.jpg" style="height: 200px; width: 256px; opacity: 0.95" class="card-img-top" alt="...">
        <div class="card-body" style="margin: 8px;">
            <p style="margin: 8px" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="margin-bottom: 8px; background-color: #ffffcc; color: #333333;" class="btn btn-primary" asp-controller="Staff" asp-action="Index">Manage Staff</a>
        </div>
    </div>

    <div class="card col-md-3" style="width: 16rem; background-color: orange; padding: 0px; margin-left: 16px; border-radius: 8px">
        <img src="https://i.pinimg.com/originals/d0/e4/29/d0e429a26882ecb8e9a392cd9c8e6260.gif" style="height: 200px; width: 256px; opacity: 0.95" class="card-img-top" alt="...">
        <div class="card-body" style="margin: 8px;">
            <p style="margin: 8px" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="margin-bottom: 8px; background-color: #ffffcc; color: #333333;" class="btn btn-primary" asp-controller="Movie" asp-action="Index">Manage Movie</a>
        </div>
    </div>

    <div class="card col-md-3" style="width: 16rem; background-color: orange; padding: 0px; margin-left: 16px; border-radius: 8px">
        <img src="https://i.pinimg.com/564x/f5/c6/c2/f5c6c200da8cdb696e1893b7972e8b91.jpg" style="height: 200px; width: 256px; opacity: 0.95" class="card-img-top" alt="...">
        <div class="card-body" style="margin: 8px;">
            <p style="margin: 8px" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="margin-bottom: 8px; background-color: #ffffcc; color: #333333;" class="btn btn-primary" asp-controller="FastFood" asp-action="Index">Manage Fastfood</a>
        </div>
    </div>

    <div class="card col-md-3" style="width: 16rem; background-color: orange; padding: 0px; margin: 24px 0 0 16px; border-radius: 8px">
        <img src="https://i.pinimg.com/564x/fd/b4/04/fdb404406d335d099d38756652292b1f.jpg" style="height: 200px; width: 256px; opacity: 0.95" class="card-img-top" alt="...">
        <div class="card-body" style="margin: 8px;">
            <p style="margin: 8px" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="margin-bottom: 8px; background-color: #ffffcc; color: #333333;" class="btn btn-primary" asp-controller="Ticket" asp-action="Index">Manage Ticket</a>
        </div>
    </div>

    <div class="card col-md-3" style="width: 16rem; background-color: orange; padding: 0px; margin: 24px 0 0 16px; border-radius: 8px">
        <img src="https://i.pinimg.com/564x/ab/89/49/ab89497788f9cf33e2aa4d9d79148182.jpg" style="height: 200px; width: 256px; opacity: 0.95" class="card-img-top" alt="...">
        <div class="card-body" style="margin: 8px;">
            <p style="margin: 8px" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="margin-bottom: 8px; background-color: #ffffcc; color: #333333;" class="btn btn-primary" asp-controller="Bill" asp-action="Index">Manage Bill</a>
        </div>
    </div>

    <div class="card col-md-3" style="width: 16rem; background-color: orange; padding: 0px; margin: 24px 0 0 16px; border-radius: 8px">
        <img src="https://i.pinimg.com/564x/20/a6/9f/20a69f8232348e485ab046979c18eabb.jpg" style="height: 200px; width: 256px; opacity: 0.95" class="card-img-top" alt="...">
        <div class="card-body" style="margin: 8px;">
            <p style="margin: 8px" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a style="margin-bottom: 8px; background-color: #ffffcc; color: #333333;" class="btn btn-primary" asp-controller="Turnover" asp-action="Index">Manage Turnover</a>
        </div>
    </div>
</div>
